<div>
  <h1>Try to guess the word puzzle!</h1>
  <br>
  <!-- get the result from main app and display here  -->
  <h3 class="well"> $WordPuzzle</h3>
</div>
<br>
<div class="btn-group">
<button type="button" class="btn btn-info"><a href="/">Create another one?</a></button>
</div>
